.debugBorder(@color){
    border:1px solid @color;
  }

// .title-container{
//     max-width: 800px;
//     width: 100%;
//     margin: 0 auto;

      
//     img {
//         opacity: 0.7;
//         filter: alpha(opacity=30); /* For IE 8 & 9 (more valid) */
//       }
// }

// .text{
//     width: 100%;
//     height:100vh;

//     background: url('../assets/home.png');
// }

// .text{
//     max-width: 800px;
//     //  width: 100%;
//      height: 50vh;
     
//      margin: 0 auto;
//      background: url('../assets/home.png');
//      display:flex;
//      flex-direction('../assets/home.png');
//      justify-content: center;
//      align-items: center;
//      .textHeader{
//          .debugBorder(red);
//      }
     
// }
.container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    position: relative;
    text-align: center;
    color: black;

    img {
        opacity: 0.7;
        filter: alpha(opacity=30); /* For IE 8 & 9 (more valid) */
    }
    .centered1 {
        .debugBorder(red);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}